- content_for 'popups' do
  #custom_fields.popup{:style => 'display:none'}
    #custom_fields_wrap      
      %IFRAME{:src => custom_fields_path(model),:id => "CFframe", :style => 'width:880px;height:400px;'}
    %p
      = link_to 'Close', "#", :class => 'close'