#show_custom_fields{ :style => "float:right;"}
  %a.popup{ :href => "#custom_fields", :style => "-moz-border-radius:4px; -webkit-border-radius:4px; background-color:#555; font-size:80%; padding:3px 8px; text-decoration:none; text-shadow:0 0 20px rgba(255, 255, 255, 0.1); color:white; margin:-20px 5px 0 5px;" }= t('cf_show_custom_field_button')