%html{html_attrs}
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html; charset=utf-8"}
    %title
    - @stylesheets.uniq.each do |stylesheet|
      = stylesheet_link_tag stylesheet
    - @javascripts.uniq.each do |javascript|
      = javascript_include_tag javascript
  %body
    #custom_fields_content
      - flash.each do |key, message|
        %div.flash{ :class => key.to_s }= message
        
      = yield